#top-bar {
	border-bottom: solid 2px lightgrey;
	box-shadow: 0px 5px 5px lightgrey; 
	padding: 10px;
}
#top-bar > div {
	display: inline-block;
}
#top-bar > .col-2 {
	float: right;
}

#content-dashboard {
	padding: 15px;
}
#content-dashboard > .row {
	height: 100%;
}

.cardbox {
	padding: 15px;
	padding-bottom: 0px;
}
.cardbox > div {
	box-shadow: 3px 3px 5px lightgrey;
	border-radius: 7px;
	border: solid 2px grey;
	padding: 10px;
	max-width: 
}

#article-box > div > p {
	display: inline-block;
}
#article-box > div > .row-date {
	float: right;
}
#article-box > div > hr {
	margin-top: 5px;
	margin-bottom: 5px;
}

#list-comment {
	width: 100%;
}
#list-comment > hr {
	margin-top: 5px;
	margin-bottom: 5px;
}
.row-comment {
	width: 100%;
}
.row-comment > a > p {
	display: inline-block;
	width: 33%;
}
.row-begin-comment {
	float: left;
}
/*#comment-box > div {
}
#comment-box > div > p {
	display: inline-block;
	width: 33%;
}
#comment-box > div > .row-begin-comment {
	float: left;
}
#comment-box > div > .row-date {
	float: right;
}
#comment-box > div > .row-title {
	margin:0 auto;
}
#comment-box > div > hr {
	margin-top: 5px;
	margin-bottom: 5px;
}*/